[Unit]
Description=Take a btrfs subvolume snapshot of / on every hour
Documentation=man:bss(1)

[Service]
Type=simple
ExecStart=/usr/bin/bss snapshot --logger --type=hour /
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
StandardInput=null
StandardOutput=append:/var/log/bss.log
StandardError=append:/var/log/bss.log
