[Unit]
Description=Daily aging of btrfs subvolume snapshots for /
Documentation=man:bss(1)

[Timer]
OnBootSec=10m
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target

