[Unit]
Description=Run bss commands hourly
Documentation=man:bss(1)
# journalctl -a -b -t bss

[Service]
Type=oneshot
# make snapshot of user's home directory ~/ (in one FS)
ExecStart=bss snapshot --logger --type=hour %h
# do the same for other subvolumes
ExecStart=bss snapshot --logger --type=hour %h/github
ExecStart=bss snapshot --logger --type=hour %h/salsa
ExecStart=bss snapshot --logger --type=hour %h/Documents
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
StandardInput=null
# No logging (use systemd logging)
StandardOutput=null
StandardError=null
#StandardOutput=append:%h/.cache/systemd-bss.log
#StandardError=append:%h/.cache/systemd-bss.log
