[Unit]
Description=Run bss commands daily
Documentation=man:bss(1)
# journalctl -a -b -t bss

[Service]
Type=oneshot
Nice=15
# process snapshot of ~/ (== %h)
ExecStart=bss --logger process %h
# do the same for other subvolumes
ExecStart=bss --logger process %h
ExecStart=bss --logger process %h/github
ExecStart=bss --logger process %h/salsa
ExecStart=bss --logger process %h/Documents
ExecStart=sync
ExecStart=bss --logger copy %h/rsync
ExecStart=bss --logger process %h/rsync
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
StandardInput=null
# No logging (use systemd logging)
StandardOutput=null
StandardError=null
#StandardOutput=append:%h/.cache/systemd-bss.log
#StandardError=append:%h/.cache/systemd-bss.log


