[Desktop Entry]
Name=Secret folder
Comment=Provide ~/secret from LUKS encrypted ~/rsync/secret.img on and backup sensitive data to it
Exec=/bin/luksimg -j mount backup
Type=Application
NoDisplay=true
