[Unit]
Description=Take a btrfs subvolume snapshot of user's home on boot
Documentation=man:bss(1)

[Timer]
OnBootSec=2m

[Install]
WantedBy=timers.target
