[Unit]
Description=Take a btrfs subvolume snapshot of user's home on boot
Documentation=man:bss(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/bss snapshot --logger --type=boot %h
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
StandardInput=null
StandardOutput=append:%h/.cache/systemd-bss.log
StandardError=append:%h/.cache/systemd-bss.log
